<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zetton.thymeleaf.mapper.StudentMapper">
    <resultMap id="student" type="com.zetton.thymeleaf.entity.Student">
        <result property="id"   column="id"/>
        <result property="name" column="name"/>
        <result property="age"  column="age"/>
        <result property="className"    column="class_name"/>
        <result property="birthday"    column="birthday"/>
    </resultMap>
    <select id="getFirstStudent" resultMap="student">
        select * from t_student where id = (select max(id) from t_student)
    </select>
</mapper>